MzlLab3Client/MzlLab3Client/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/MzlLab3Server/ObjectsService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" />
  <xs:element name="AddMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="movie" nillable="true" type="q1:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMovieResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="GetMovieResult" nillable="true" type="q2:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="GetAllMoviesResult" nillable="true" type="q3:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="movie" nillable="true" type="q4:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="UpdateMovieResult" nillable="true" type="q5:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMovieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="person" nillable="true" type="q6:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="GetPersonResult" nillable="true" type="q7:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="GetAllPersonsResult" nillable="true" type="q8:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="person" nillable="true" type="q9:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="UpdatePersonResult" nillable="true" type="q10:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="review" nillable="true" type="q11:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddReviewResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="GetReviewResult" nillable="true" type="q12:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="p" nillable="true" type="q13:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="GetAllReviewsResult" nillable="true" type="q14:ArrayOfReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewsForMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="m" nillable="true" type="q15:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewsForMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="GetAllReviewsForMovieResult" nillable="true" type="q16:ArrayOfReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="review" nillable="true" type="q17:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="UpdateReviewResult" nillable="true" type="q18:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteReviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>