StardestroyerBetaNATMAT/StardestroyerBetaNATMAT/Connected Services/ServiceReference1/ObjectsManager.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Wing">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Power" type="xs:int" />
      <xs:element minOccurs="0" name="Shield" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wing" nillable="true" type="tns:Wing" />
  <xs:complexType name="ArrayOfWing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Wing" nillable="true" type="tns:Wing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWing" nillable="true" type="tns:ArrayOfWing" />
</xs:schema>