StardestroyerBetaNATMAT/StardestroyerBetaNATMAT/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" />
  <xs:element name="GetWing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="GetWingResult" nillable="true" type="q1:Wing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="wing" nillable="true" type="q2:Wing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateWingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" minOccurs="0" name="GetAllWingsResult" nillable="true" type="q3:ArrayOfWing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>